@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Funnel+Display:wght@300..800&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

body{
    background-color: rgb(8, 111, 111);
    display: flex;
    justify-content: center;
    margin: 0 8px;
    }
.div1{
    display: inline-block;
    margin: auto;
    width: 98%;
    max-width: 600px;
    height: auto;
    min-height: 700px;
    margin-top: 20px;
    margin-bottom: 0;
}
header{
    color: white;
    font: normal clamp(5px, 5vw, 25px) Funnel Display;
    margin: 0;
    margin-bottom: 8px;
}
.tela{
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    height: 20vh;
    min-height: 80px;
    max-height: 160px;
    overflow: hidden;     
    background-color: rgba(6, 71, 71, 0.973);
    margin: auto;
    border-radius: 7px;
    padding-bottom: 15px;
}

@media (max-width:320px){
    .tela{
        padding-bottom: 60px;
    }
}


.tecl{
    width: 100%;
    max-width: 600px;
    height: auto;
    background-color: rgba(6, 71, 71, 0.736);
    margin: auto;
    margin-top: 7px;
    border-radius: 7px;
    padding-bottom: 6px;
}
.div2{
    margin: auto;
    padding-top: 6px;
    width: 100%;
    max-width: 551px;
    height: auto;
}

#number{
    width: 20vw;
    max-width: 110px;
    height: 20vw;
    max-height: 110px;
    margin: clamp(1px, 1vw, 12px);
    background-color: white;
    font: bold 40px Zalando Sans SemiExpanded;
    box-shadow: 3px 3px 1px rgb(0, 0, 0);
}
#number:active{background-color: rgba(255, 255, 255, 0.541);}

#del{
    width: 20vw;
    max-width: 110px;
    height: 20vw;
    max-height: 110px;
    margin: clamp(1px, 1vw, 12px);
    padding: 12px 6px 1px 3px;
    background-color: rgb(8, 111, 111);
    box-shadow: 3px 3px 1px rgb(0, 0, 0);
    color: white;
    font: bold 25px Zalando Sans SemiExpanded;
}
#del:active{background-color: rgba(255, 255, 255, 0.489);}

#reset{
    width: 41.1vw;
    max-width: 249px;
    height: 20vw;
    max-height: 110px;
    margin: 4px 12px 12px 6px;
    padding: 11px 6px 3px 6px;
    background-color: rgb(8, 111, 111);
    box-shadow: 3px 3px 1px rgb(0, 0, 0);
    color: white;
    font: bold 25px Zalando Sans SemiExpanded;
}
#reset:active{background-color:rgba(255, 255, 255, 0.489);}

#igual{
    width: 40vw;
    max-width: 249px;
    height: 20vw;
    max-height: 110px;
    margin: 4px 6px 12px 6px;
    background-color: rgb(202, 40, 40);
    box-shadow: 3px 3px 1px rgb(0, 0, 0);
    color: white;
    font: bold 40px Zalando Sans SemiExpanded;
}
#igual:active{background-color:rgba(255, 255, 255, 0.489);}

#result{
    display: inline-block;
    color: white;
    font: bold 40px Zalando Sans SemiExpanded;
    margin: 98px 0px 13px 14px;
}
